Django==1.10
python-memcached
simplejson
python-dateutil>=1.5,<2.0
pycrypto==2.6
pylibmc==1.2.3
johnny-cache
ipython
ipdb
django-storages==1.5.1
boto==2.42.0
boto3==1.4.0
Pillow
requests
apns-client
django-extensions==1.7.4
redis
pytz
urllib3
six
celery==4.0.0
sendgrid
flower
git+git://github.com/joelsemar/django-services@dev#egg=services


