Django==1.5.1
South==0.7.6
python-memcached==1.47
simplejson==2.1.6
django-extensions==1.0.0
django-debug-toolbar==0.9.4
django-celery
psycopg2==2.4.5
python-dateutil>=1.5,<2.0
pycrypto==2.6
requests==0.13.6
pymongo==2.2.1
pylibmc==1.2.3
johnny-cache==1.4
ipython==0.12.1
django-storages==1.1.6
Pillow
boto==2.8.0
jsonfield
django-json-field
git+git://github.com/joelsemar/django-services.git#egg=services
